.header {
  background-color: #176ff5;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header input {
  border-radius: 10px;
  height: 20px;
  padding: 10px;
}
